<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <typeAliases>
        <package name="web.module.auth.domain"/>
        <package name="web.mvc.common.domain"/>
        <package name="web.mvc.community.domain"/>
        <package name="web.mvc.movie.domain"/>
        <package name="web.mvc.user.domain"/>
    </typeAliases>
</configuration>